.header {
    width: 100%;
    background-color: white;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.25rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo {
        color: black;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 700;
    }

    .menuButton {
        display: none;
        background: none;
        border: none;
        padding: 0;

        font-size: 1.75rem;
        cursor: pointer;
    }

    .navLinks {
        display: flex;
        gap: 2rem;
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            color: black;
            text-decoration: none;
            font-weight: 500;

            transition: color 0.2s ease;

            &:hover {
                color: #6c3cff;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 1.25rem 1.5rem;

        .logo {
            font-size: 1rem;
        }

        .menuButton {
            display: block;
            z-index: 2;
        }

        .navLinks {
            position: absolute;
            top: 100%;
            left: 0;

            width: 100%;
            padding: 1.5rem;

            display: none;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;

            background-color: white;

            &.open {
                display: flex;
            }
        }
    }
}