html, body {
  height: 100%; /* Ensure html and body take full height */
  margin: 0; /* Remove default margin */
}

body {
  background: linear-gradient(to bottom, black, white);
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: black; 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); 
}

.nav-link {
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease; 
  color: white;
  border-radius: 10px; 
  display: flex;
  text-align: center;
  position: relative;
}

.nav-link.active {
  text-decoration: none; 
}

.nav-link.active::after {
  content: ""; 
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0; 
  left: 0;
  border-radius: 20px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  color: #007BFF; 
}

.nav-link:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; 
  background-color: #007BFF;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}

.instagram-icon {
  color: white;
  background-color: #C13584;
  padding: 5px;
  border-radius: 13px;
}
.linkedin-icon {
  color: rgb(13, 77, 167);
  background-color: white;
  margin: 5px;
}

.github-icon {
  color: white;
  background-color: black;
  border-radius: 20px;
  border: 1px solid black;
  margin: 5px;
}

/* Footer styles */
footer {
  margin-top: auto;
  color: white;
}

.copyright {
  text-align: center;
  background-color: black;
}

.follow-me {
  background: linear-gradient(to top, black, lightgray);
}
